    $primery-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $primery-white-color: #FFFFFF;
    $secondary-text-color: rgba(255, 255, 255, 0.6);
    $background-color: #2F303A;
    $background-color-icon: #F5F4FA;
    $background-hero: rgba(47, 48, 58, 0.8);
    $icon-color: #AFB1B8; 
    